*{
	/*background-color: white*/
	font-family: arial, sans-serif;
	margin: 0;
	/*padding: 0;*/
	font-size: 1em;
	color: black;
}
a:link {
    color: #0D74DB; /*blue color on website*/
}
p{
	font-size: .9em;
	line-height: 25px;
}
.strong{
	font-weight: bold;
}
.padding-above{
	padding-top: 10px;
}
.padding-below{
	padding-bottom: 20px;
}
#sidebar p{
	padding: 5px 10px 10px 10px;
}
#container{
	width:1000px;
	min-height:800px;
	background-color: white;
}
#header{
	width:1000px;
	height:220px;
	background-color: white;
}
#header ul{
	margin-left: 450px;
	background-color: #efeded;
	border-radius: 0 0 15px 15px;
}
#header ul li{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding: 5px 10px 0 10px;
	border-right: solid #c1bbbb 1px; /*darker gray color*/
	color: #c1bbbb;
}
.first-li{
	/*CHANGE PADDING*/
}
.last-li{
	/*CHANGE PADDING RIGHT*/
}
.login{
	background-size: 100px;
	width: 40px;
	display: inline-block;
	vertical-align: top;
	background-color: #0D74DB;
	border: solid 1px #0D74DB;
}
#header img{
	width: 320px;
	height: 99px;
	padding: 10px;
}
h1{
	background-color: #0D74DB;
	font-size: 1.6em;
	padding: 15px 10px;
	color: white;
	font-weight: normal;
}
#body{
	width:700px;
	min-height: 500px;
	display: inline-block;
	vertical-align: top;
}
#body-top{
	width:700px;
	height: 100px;
	background-color: red;
}
#body-middle{
	width:700px;
	min-height: 300px;
}
h4{
    color: #0D74DB;
	font-size: 1.1em;
	padding-top: 10px;
}
#body-middle ul{
	list-style: none;
    padding:0;
    margin:0;
}
#body-middle ul li{
	padding: 5px 0 10px 5px;
	text-indent: .7em;
}
#body-middle ul li{
	/*GET TEXT TO ALIGN WITH BULLET?*/
}
#body-middle ul li p:before{
    content: "•  ";
    color: #0D74DB; 
    padding-left: 5px;
}
#body-border{
	width:630px;
	height:200px;
	border: 5px solid #0D74DB;
	background-color: white;
}
#body-border img{
	width: 80px;
	height: 180px;
	padding: 10px;
}
#body-border img{
	width: 68px;
	height:142px;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 48px;
}
#body-border-right{
	width: 530px;
	height:200px;
	display: inline-block;
	vertical-align: top;
	background-color: pink;
}
/*#body-bottom{
	width:730px;
	height:100px;
	background-color: orange;
}*/
#sidebar{
	width:280px;
	min-height: 500px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
#sidebar-top{
	width:280px;
	min-height: 250px;
	background-color:white;
}
h2{
	color: #0D74DB;
	font-size: 1.3em;
	padding: 70px 10px 0 10px;
	font-weight: normal;
}
h3{
	color: #f98b04; /*this is the orange color*/
	font-size: 1em;
	padding: 10px 10px 0 10px;
}
button{
	background-size: 280px;
	display: block;
	width: 250px;
	margin: 5px 10px 5px 10px;
	padding: 5px;
	border-radius: 6px;
}
.button-1{
	background-color: #0D74DB;
	border: solid 1px #0D74DB;

}
.button-2{
	background-color: #f98b04;
	border: solid 1px #f98b04;
}
#sidebar img{
	width: 200px;
	height: 249px;
	padding: 50px 10px 0 10px;
}
.centered-text{
	text-align: center;
}

